footer {
  padding: $sidePadding;
  padding-top: 110px;
  background-color: $daBlue;
  p,
  a {
    color: white;
  }
  .logo {
    margin-bottom: 20px;
    svg {
      height: 50px;
    }
  }
  .footerBottom {
    display: flex;
    padding-bottom: 60px;
    .phoneAndEmail {
      width: 440px;
      .phone {
        position: relative;
        padding-left: 37px;
        margin-bottom: 17px;
        &:before {
          content: url(/images/icon-phone.svg);
          position: absolute;
          left: 0px;
          top: 2px;
        }
      }
      .email {
        position: relative;
        padding-left: 37px;
        margin-bottom: 17px;
        &:before {
          content: url(/images/icon-email.svg);
          position: absolute;
          left: 0px;
          top: 2px;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      width: 355px;
      &__left {
        a {
          display: block;
          margin-bottom: 15px;
          transition: $trans13;
          &:hover {
            color: hsl(218, 82%, 74%);
          }
        }
      }
      &__right {
        a {
          display: block;
          margin-bottom: 15px;
          transition: $trans13;
          &:hover {
            color: hsl(218, 82%, 74%);
          }
        }
      }
    }
    .socialLinks {
      display: flex;
      justify-content: center;
      width: 500px;
      .box {
        display: flex;
        justify-content: space-between;
        width: 120px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid white;
          transition: $trans13;
          svg {
            width: 14px;
            height: 14px;
            g {
              fill: white;
              transition: $trans13;
            }
          }
          &:hover {
            border: 1px solid hsl(218, 82%, 74%);
            svg {
              g {
                fill: hsl(218, 82%, 74%);
              }
            }
          }
        }
      }
    }
  }
}
