@media screen and (max-width: 600px) {
  nav {
    height: 18.66vw; //70px;
    padding: 0 6.2vw; //$sidePaddingMob;
    img {
      height: 6.4vw; //24px;
      min-height: 24px;
    }
    .links {
      width: 165px;
      font-size: 12px;
    }
  }
  .hero {
    display: block;
    padding: $sidePaddingMob;
    padding-bottom: 100px;
    margin-top: 75px;
    background: url(/images/bg-curve-mobile.svg) bottom/contain no-repeat;
    &__right {
      padding: 0 12px;
      margin-left: 0;
      margin-bottom: 35px;

      img {
        height: auto;
        width: 100%;
      }
    }
    &__left {
      width: 100%;
      h1 {
        max-width: 400px;
        margin: 0 auto 25px;
        // margin-bottom: 25px;
        font-family: $openSans;
        font-size: 24px;
        text-align: center;
      }
      .heroText {
        margin-bottom: 30px;
        font-size: 14px;
        text-align: center;
        // letter-spacing: 0.01em;
        line-height: 1.5;
        padding: 0 12px;
      }
      form {
        display: block;
        max-width: 350px;
        margin: 0 auto;
        padding: 0 15px;
        .inputBox {
          height: 58px;
          input {
            height: 42px;
            width: 100%;
            font-size: 12px;
            padding-top: 1px;
            margin-bottom: 0;
          }
          .errorMessage {
            font-size: 10px;
          }
        }
        button {
          width: 100%;
          height: 42px;
        }
      }
    }
  }
  .stayProductive {
    display: block;
    padding: $sidePaddingMob;
    padding-top: 10px;
    padding-bottom: 80px;
    &__right {
      margin-left: 0;
      padding-left: 8px;
      padding-right: 8px;
      img {
        height: auto;
        width: 100%;
        margin-bottom: 83px;
      }
    }
    &__left {
      max-width: 500px;
      margin: 0 auto;
      margin-right: 0;
      h2 {
        width: 100%;
        padding-bottom: 24px;
        font-size: 4.26vw; //16px;
        text-align: center;
        letter-spacing: 0.01em;
      }
      &__text {
        width: 100%;
        padding-right: 10px;
        font-size: 14px;
        color: hsl(238, 12%, 44%);
      }

      .seeHowLink {
        display: block;
        width: 130px;
        margin: 35px auto 0;
        font-size: 12px;
        padding-bottom: 5px;
        svg {
          top: 2px;
          right: -2px;
        }
      }
      .credential {
        width: 280px;
        margin: 40px auto 0;
        padding: 40px 12px 20px 25px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 26px;
          top: 20px;
          background: center top / 11px 13px url(/images/icon-quotes.svg)
            no-repeat;
          height: 18px;
          width: 12px;
        }
        &__text {
          margin-bottom: 12px;
          font-size: 11px;
          line-height: 1.65;
          font-weight: 500;
          color: hsl(243, 17%, 32%);
          letter-spacing: -0.01em;
        }
        .personInfo {
          img {
            height: 25px;
          }
          .info {
            p {
              &:nth-child(1) {
                font-size: 10px;
                letter-spacing: 0;
              }
              &:nth-child(2) {
                font-size: 7px;
              }
            }
          }
        }
      }
    }
  }
  .signUp {
    display: block;
    padding: 55px 8vw 75px; //30px
    text-align: center;
    &__left {
      padding: 0 5px;
      h2 {
        margin-bottom: 18px;
        margin-right: 0;
        font-size: 4.8vw; //19px;
        color: $liGrayBlue;
      }
      p {
        width: 100%;
        max-width: 500px;
        margin-right: 0;
        padding-bottom: 20px;
        font-size: 13px;
        letter-spacing: 0.02em;
        line-height: 1.6;
        color: hsl(240, 75%, 95%);
      }
    }
    &__right {
      margin: 0 auto;
      padding-right: 0;
      padding-top: 5px;
      input {
        display: inline-block;
        width: 64vw; //240px;
        max-width: 300px;
        height: 8.53vw; //32px;
        padding-left: 2.66vw; //10px;
        padding-bottom: 0px;
        margin-bottom: 7px;
        border-radius: 2px;
        font-size: 2.66vw; //10px;
        letter-spacing: 0.01em;
      }
      .errorMessage {
        position: relative;
        left: 10.66vw; //40px;
        font-size: 10px;
        margin-bottom: 5px;
      }
      button {
        width: 64vw; //240px;
        max-width: 300px;
        height: 8.53vw; //32px;
        border-radius: 2px;
        font-size: 2.66vw; //10px;
        letter-spacing: 0.01em;
      }
    }
  }
  footer {
    padding: 67px 37px 0;
    .logo {
      margin-bottom: 37px;
    }
    .footerBottom {
      display: block;
      padding-bottom: 45px;

      .phoneAndEmail {
        margin-bottom: 60px;
        width: 100%;
        p {
          color: $liGray;
        }
      }
      .links {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        a {
          display: inline-block;
          color: $liGray;
          width: auto;
          margin-bottom: 15px;
        }
        &__left {
          margin-bottom: 35px;
        }
      }
      .socialLinks {
        width: 100%;
        .box {
          width: 105px;
          a {
            width: 27px;
            height: 27px;
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) and (min-width: 465px) {
  .signUp {
    padding-bottom: 50px;
    &__right {
      input {
        font-size: 13px;
        height: 36px;
      }
      .errorMessage {
        padding-left: calc(21vw - 85px);
        // left: 20%; //48px;
      }
      button {
        height: 36px;
        font-size: 14px;
      }
    }
  }
}
