.signUp {
  display: flex;
  justify-content: space-between;
  padding: $sidePadding;
  padding-top: 105px;
  background-color: $desBlue;
  &__left {
    // padding-right: 230px;
    h2 {
      margin-bottom: 24px;
      font-family: $raleway;
      font-size: 32px;
      color: white;
    }
    p {
      width: 520px;
      padding-bottom: 85px;
      letter-spacing: 0.03em;
      line-height: 1.5;
      color: white;
    }
  }
  &__right {
    padding-right: 45px;
    padding-top: 10px;
    input {
      display: block;
      width: 480px;
      height: 47px;
      margin-bottom: 15px;
      padding-left: 20px;
      padding-bottom: 4px;
      border-radius: 2px;
      border: none;
      font-size: 13px;
      letter-spacing: -0.03em;
      font-family: $raleway;
      color: hsl(238, 22%, 40%);
      box-shadow: 0px 2px 2px 3px hsl(238, 22%, 40%, 70%);
      &::placeholder {
        color: hsl(0, 0%, 65%);
      }
    }
    .errorMessage {
      display: none;
      font-size: 13px;
      margin-bottom: 15px;
      margin-top: -3px;
      color: hsl(240, 75%, 98%);
    }
    .wrongEmail {
      border: 1px solid $red;
      margin-bottom: 5px;
      & + p {
        display: block;
      }
    }
    button {
      display: inline-block;
      height: 47px;
      width: 200px;
      padding: 0;
      padding-bottom: 2px;
      border: none;
      border-radius: 2px;
      outline: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      box-shadow: 2px 2px 7px hsl(238, 22%, 30%, 60%);
      background: $brightBlue;
      color: white;
      transition: $trans13;
      &:hover {
        background-color: hsl(224, 93%, 74%);
      }
    }
  }
}
