.stayProductive {
  display: flex;
  padding: $sidePadding;
  padding-top: 65px;
  padding-bottom: 110px;
  background: hsl(240, 63%, 98%);
  &__left {
    margin-right: 50px;
    order: 1;
    h2 {
      min-width: 45.8vw; //660px;
      padding-bottom: 37px;
      font-family: $raleway;
      font-size: 2.85vw; //41px;
      letter-spacing: -0.01em;
    }
    &__text {
      max-width: 520px;
      margin-bottom: 15px;
      line-height: 1.55;
    }
    .seeHowLink {
      position: relative;
      padding-right: 17px;
      padding-bottom: 3px;
      //   margin on credential
      border-bottom: 1px solid $modCyan;
      color: $modCyan;
      transition: $trans13;
      svg {
        position: absolute;
        top: 3px;

        g {
          g {
            use {
              transition: $trans13;
              fill: $modCyan;
            }
          }
        }
      }
      &:hover {
        color: hsl(170, 65%, 66%);
        border-bottom: 1px solid hsl(170, 65%, 66%);

        svg {
          g {
            g {
              use {
                fill: hsl(170, 65%, 66%);
              }
            }
          }
        }
      }
    }
    .credential {
      position: relative;
      width: 356px;
      margin-top: 50px;
      padding: 52px 33px 27px;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0px 0px 3px 7px hsl(238, 22%, 94%, 50%);
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 34px;
        top: 30px;
        background: center top / 14px 15px url(/images/icon-quotes.svg)
          no-repeat;
        height: 23px;
        width: 14px;
      }
      &__text {
        margin-bottom: 15px;
        font-size: 13px;
        letter-spacing: 0.04em;
        line-height: 1.75;
      }
      .personInfo {
        display: flex;
        align-items: center;
        img {
          height: 32px;
          margin-right: 8px;
          border-radius: 50%;
        }
        .info {
          p {
            &:nth-child(1) {
              font-size: 11px;
              font-weight: 700;
              letter-spacing: 0.06em;
            }
            &:nth-child(2) {
              font-size: 9px;
              color: hsl(243, 87%, 12%, 70%);
            }
          }
        }
      }
    }
  }
  &__right {
    order: 2;
    margin-left: 20px;
    padding-top: 30px;
    img {
      height: 28.47vw; //410px;
    }
  }
}
