$raleway: "Raleway", sans-serif;
$openSans: "Open Sans", sans-serif;
//////////
$daBlue: hsl(243, 87%, 12%);
$desBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$modCyan: hsl(170, 45%, 43%);
$liGrayBlue: hsl(240, 75%, 98%);
$liGray: hsl(0, 0%, 75%);
$red: hsl(345, 60%, 69%);
////////
$sidePadding: 0 80px;
$sidePaddingMob: 0 20px;
$trans13: all 0.13s ease-in-out;
